body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4db; /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content {
    width: 120%;
    max-width: 800px; /* Adjust the width as needed */
    background-color: #f7f4e4; /* Cream color for the middle layer */
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Container for the image */
.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px; /* Add some space between image and form */
}

.login-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* Container for the form fields */
.login-form {
    flex: 1;
    background-color: #fff; /* White background */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form inside the white container */
.login-form h2 {
    margin-bottom: 20px;
    color: #000;
    font-size: 24px;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #f8e6ff;
    font-size: 16px;
    color : black;
}

.login-form button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #62c2ff;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #3ba1e0;
}

.login-form p {
    margin-top: 15px;
    color: #666;
}

.login-form a {
    color: #3ba1e0;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

.login-page h1 {
    color: #000; /* Black text color */
    font-size: 32px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Space below the heading */
    text-align: center; /* Center align the text */
}
