.sidebar {
    width: 200px;
    background-color: #e3e3d8;
    padding: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    font-size: 18px;
    color: #666;
  }
  
  .sidebar .active {
    font-weight: bold;
  }
  